#HeyAmikoo
Upboard
Main/package-lock.json
Main/node_modules

#Rhasspy
rhasspy/profile/*/acoustic_model
rhasspy/profile/*/docker-compose.yml
rhasspy/profile/*/intent_graph.pickle.gz
rhasspy/profile/*/supervisord.*
rhasspy/profile/*/g2p.fst
